*{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.items-holder img{
    height: 60px;
}

.items-holder{
    list-style-type: none;
    padding:0;
    /* display:flex; */
}
ul{
    padding: 0;
    margin: 0;
}
/* structure */
.item-list{
    display: flex;
    border-bottom: 1px solid gainsboro;
    align-items: center;
    padding: .5em;
}

.item-list-image{
    display: flex;
}

.item-list-name{
    display: flex;
    text-transform: capitalize;
    padding: 1em;
}

.left-icon{
    width: 25%;
    display: flex;
    text-align: center;
}

.right-icon{
    width:25%;
    color: white;
    display: flex;
}

.right-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
}

navbar{
    display: flex;
    width: 100%;
    background: #2196f3;
}

.title-bar{
    display: flex;
    background: #2196F3;
    padding: 1em;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    font-size: 1.2em;
    width: 50%;
}
body{
    margin: 0;
}

.floating-button{
    background: cyan;
    color:white;
    width: 60px;
    height: 60px;
    border-radius:50%;
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 111;
    justify-content: center;
    align-items: center;
    display: flex;
}